*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.smurfs{
  background: rgb(180, 221, 67);
  margin: 10rem;
  padding: 2.8rem;
}
.smurf-container{
  display: flex;
  justify-content: center;
  /* margin: 10rem; */
}
p{
  font-weight: bold;
  font-size: 1.3rem;
}
form{
  margin: 3rem;
}
input{
  padding: 0.5rem;
  width: 20rem;
}
button{
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 10rem;
}